@import url('https://fonts.googleapis.com/css2? family = Roboto: wght @ 500 & display = swap');
*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    font-family: 'Roboto', sans-serif;
}
body{
 height:100vh;
}
header{
    width:100%;
    height:100px;
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:0 10vw;
}
li{
    height:100%;
    display:inline-block;
    margin-right:20px;
}
li:hover{
    font-weight:700;
}
section{
    height:80vh;
    width:100vw;
    background:url(./img/urn_aaid_sc_US_13ead2e1-3ac9-44a1-b4cb-14736da07bb0.png) no-repeat center right;
    background-size: cover;
    padding:0 10vw;
    display:flex;
    flex-direction: column;
    justify-content: center;
}
.blue-orange{
    width:100%;
    height:80vh;
}
.main-text{
    font-weight:900;
    font-size:50px;
    color: white;
    margin-bottom:8vh;
}
.main-text-two{
    text-transform: uppercase;
    color: white;
}
.row1{
    display:flex;
    margin-top:40px;
    padding:0 10vw;
}
.row2{
    display:flex;
    padding:0 10vw;
}
.row3{
    display:flex;
    margin-bottom:40px;
    padding:0 10vw;
}
img{
    margin:5px;
    width:260px;
}
footer{
    width:100%;
    height:60px;
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:0 10vw;
}
div{
    display: flex;
}
.footer-face-images{
    width:15px;
    display: flex;
    margin-right:22px;
}
.footer-images{
    width:30px;
    display: flex;
    margin-right:22px;
}
.footer-text{
    margin-right:50px;
}
.footer-h2-text{
    font-weight: 900;
    margin-right: 20px;
    font-size: smaller;
}
.footer-p-text{
    display: flex;
    flex-direction: column;
    font-size: smaller;
}